<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django with Vercel</title>
</head>
<body>
    <nav>
        <ul>
            <a href="/">
<li>
    Home
</li>
</a>
<a href="/about">
<li>
    About
</li>
</a>
<a href="/admin">
<li>
    Admin
</li>
</a>
</ul>
        </nav>
    </nav>
    {% block content %} {% endblock %}
    
</body>
</html>